.has-orbits {
    position: relative;
    overflow: hidden;
    border-radius: 150px;
    width: 100%;
    background-color: $main;
    overflow: hidden;

    @media screen and (max-width: 1025px) {
        border-radius: 100px;
    }

    @media(max-width: 767px) {
        border-radius: 40px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .circul1,
        .circul2,
        .circul3,
        .circul4 {
            position: relative;
            border: 1px solid rgba(255, 255, 255, .1);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            animation: rotatation 25s infinite linear;

            @keyframes rotatation {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

        }

        .mini-circul1,
        .mini-circul2,
        .mini-circul3,
        .mini-circul4 {
            position: absolute;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: rgba(255, 255, 255, .1);
            inset-inline-start: -50px;
            top: 50%;
            z-index: 2;
        }

        .mini-circul1,
        .mini-circul3 {
            width: 70px;
            height: 70px;
            inset-inline-start: -35px;
        }

        .circul1 {
            width: 1620px;
            height: 1620px;
        }

        .circul2 {
            width: 1215px;
            height: 1215px;
        }

        .circul3 {
            width: 810px;
            height: 810px;
        }

        .circul4 {
            width: 405px;
            height: 405px;
        }

    }
}

.home-message-section {
    .messege-cont {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            text-align: center;
            margin-bottom: 40px;

            h5 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 0;
                color: $white;
            }

            .hagez {
                height: 1px;
                width: 26px;
                background-color: $white;
                border: 2px solid $white;
            }

        }

        h2 {
            font-size: 56px;
            font-weight: 800;
            line-height: 96px;
            text-align: center;
            margin-bottom: 60px;
            color: $white;

            @media screen and (max-width: 1725px) {
                font-size: 52px;
            }

            @media screen and (max-width: 767px) {
                font-size: 32px;
                line-height: 50px;
            }
        }

        .grid-sec {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;

            @media screen and (max-width: 1025px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 767px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .item {
                padding: 48px 35px;
                border-radius: 58px;
                background-color: $white;
                display: flex;
                flex-direction: column;

                * {
                    flex-shrink: 0;
                }

                img {
                    height: 64px;
                    width: auto;
                    max-width: 64px;
                    margin-bottom: 66px;
                }

                .h3-cont {
                    position: relative;
                    margin-bottom: 18px;
                    width: fit-content;

                    h3 {
                        font-size: 24px;
                        font-weight: 800;
                        margin-bottom: 0;
                        color: $main;
                    }

                    img {
                        position: absolute;
                        top: -17px;
                        width: 22px;
                        height: auto;
                        transform: rotate(30deg);
                        inset-inline-end: -22px;
                        margin-bottom: 0;
                    }
                }

                .hagez {
                    height: 1px;
                    width: 29px;
                    background-color: $main;
                    border: 2px solid $main;
                    border-radius: 3px;
                    margin-bottom: 27px;
                }

                p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 35px;
                    margin-bottom: 0;
                    text-align: justify;
                    height: 100%;
                    flex-shrink: unset;
                    margin-bottom: 10px;
                }

                .rate {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    i {
                        font-size: 14px;
                        color: #FFBC40;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 800;
                        margin-bottom: 0;
                    }

                    .rate-votes {
                        color: #767676;
                    }
                }
            }
        }
    }
}

.home-programs-section {
    .filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        position: relative;
        z-index: 2;
        margin-bottom: 60px;

        .tabs-parent {
            overflow: scroll;
        }

        .tabs {
            display: flex;
            align-items: center;
            gap: 2px;
            border-radius: 40px;
            overflow: hidden;
            flex-wrap: nowrap;

            .tab {
                height: 48px;
                padding: 0 16px;
                background-color: $white;
                display: flex;
                align-items: center;
                margin-bottom: 0;

                span {
                    font-size: 12px;
                    font-weight: 700;
                    margin-bottom: 0;
                    color: $main;
                    text-wrap: nowrap;
                }
            }

            .activeTab {
                background-color: $hover;

                span {
                    color: $white;
                }
            }
        }

        .btn-watch {
            height: 48px;
            padding: 0 22px;
            border-radius: 24px;
            background-color: $black;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            margin-bottom: 0;
            color: $white;

            span {
                color: $white;
                font-size: 12px;
                font-weight: 700;
                margin-bottom: 0;
                text-wrap: nowrap;
            }

            img {
                height: 18px;
            }
        }
    }
}

.progs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media screen and (max-width: 1025px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .prog-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .prog-img {
            position: relative;
            width: 100%;
            aspect-ratio: 541/409;
            border-radius: 90px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;
                background-color: rgba(0, 0, 0, .2);
                padding: 45px 45px 40px 40px;

                &:hover {
                    background-color: transparent;
                }

                .a-cont {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    position: relative;
                    z-index: 2;

                    a {
                        width: fit-content;
                        height: 48px;
                        width: 48px;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $white;
                        border-radius: 50%;
                        color: $main;
                        margin-bottom: 0;
                        position: relative;
                        z-index: 2;

                        i {
                            font-size: 18px;
                            transform: rotate(315deg);
                        }
                    }

                }

                span {
                    width: fit-content;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $hover;
                    border-radius: 24px;
                    color: $black;
                    font-size: 12px;
                    font-weight: 800;
                    margin-bottom: 0;
                    text-wrap: nowrap;
                    padding: 0 15px;
                    position: relative;
                    z-index: 2
                }
            }
        }

        .prog-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            span {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 0;
                color: $white;
            }

        }

        h3 {
            width: fit-content;
            height: 48px;

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            border-radius: 24px;
            color: $main;
            margin-bottom: 0;
            position: relative;
            padding: 0 22px;
            z-index: 2;
            font-size: 12px;
            font-weight: 800;
            text-wrap: nowrap;
        }
    }
}

.blog-details {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 15px 0 50px;
    flex-wrap: wrap;

    .date-read {
        display: flex;
        align-items: center;
        gap: 5px;

        justify-content: space-between;

        span {
            color: $main;
            font-size: 16px;
            font-weight: 800;
            margin-bottom: 0;
            text-wrap: nowrap;
        }

        .bullet {
            width: 4px;
            height: 4px;
            background-color: $black;
            border-radius: 50%;
        }
    }

    h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 45px;
        margin-bottom: 0;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        line-height: 35px;
        text-align: justify;
        margin-bottom: 0;
    }

    a {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $main;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 0;
    }
}