@font-face {
  font-family: "LamaSans";
  src: url("../webfonts/LamaSans/LamaSans-ExtraLight.woff2") format("woff2"),
    url("../webfonts/LamaSans/LamaSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "LamaSans";
  src: url("../webfonts/LamaSans/LamaSans-Light.woff2") format("woff2"),
    url("../webfonts/LamaSans/LamaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "LamaSans";
  src: url("../webfonts/LamaSans/LamaSans-Regular.woff2") format("woff2"),
    url("../webfonts/LamaSans/LamaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LamaSans";
  src: url("../webfonts/LamaSans/LamaSans-Medium.woff2") format("woff2"),
    url("../webfonts/LamaSans/LamaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "LamaSans";
  src: url("../webfonts/LamaSans/LamaSans-Bold.woff2") format("woff2"),
    url("../webfonts/LamaSans/LamaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LamaSans";
  src: url("../webfonts/LamaSans/LamaSans-ExtraBold.woff2") format("woff2"),
    url("../webfonts/LamaSans/LamaSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "LamaSans";
  src: url("../webfonts/LamaSans/LamaSans-Black.woff2") format("woff2"),
    url("../webfonts/LamaSans/LamaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("../webfonts/LamaSans/Montserrat-Arabic-Regular.woff2")
      format("woff2"),
    url("../webfonts/LamaSans/Montserrat-Arabic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
